<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{ static_url('favicon.ico') }}">
    <!--<link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}">-->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="{{ static_url('font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <title>{% block title %}Tornado Title{% end %}</title>
</head>

<body>
<div class="container">
    <!--<img src="static/images/background.jpg" class="img-fluid" alt="Responsive image">-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tornodo项目</a>
  <!--<img src="static/images/图标.jpg" width="30" height="30" alt="">-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">首页<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/explore">发现</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          其它
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile">个人中心</a>
          <a class="dropdown-item" href="#">收藏</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">帮助</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/logout"><span>{{ handler.current_user }}</span> 登出</a>
      </li>
    </ul>
      <a class="btn btn-success" href="/upload">发表心情</a>
  </div>
</nav>
    <br>
    {% block content %}Default body of base{% end %}
</div>
<!--<script src="{{ static_url('js/jquery-3.3.1.slim.min.js') }}"></script>-->
<!--<script src="{{ static_url('js/popper.min.js') }}"></script>-->
<!--<script src="{{ static_url('js/bootstrap.js') }}"></script>-->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.3/esm/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% block extra_scripts %}{% end %}
</body>
</html>