{% extends 'base.html' %}
{% block title %}post page{% end %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-10">
    <img class="img-thumbnail" src="{{ static_url(posts.images_url) }}" alt="" width="500px"/>
    <h4>{{ posts.user.name }} {{ posts.create_time or '--' }}</h4>
        {% if users %}
    <h5><i class="fa fa-heart text-danger"></i>
        {% for u in users %}
        <i class="fa fa-user-circle-o"></i> {{ u.name }}
        {% end %}
    </h5>
        {% end %}
    </div>
</div>
{% end %}